a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgba(90, 89, 89);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    color: rgb(194, 194, 194);
}

.bar-container {
    display: flex;
}

.toggle-mode {
    align-self: flex-end;
}

@media (max-width: 640px) {
    .top-bar {
        display: none;
    }
}