body {
    margin: 0 auto;
    height: 100vh;
    max-width: 980px;
    background-color: #333;
}

* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #eeeeee;
    font-weight: normal;
    font-style: normal;
}

.me-section {
    margin-left: 15px;
}

.proj-section {
    margin-left: 15px;
}

a.repo-link {
    color: #548dd9;
    padding: 5px;
}

/* visited link */

a.repo-link :visited {
    color: green;
}

/* mouse over link */

a.repo-link :hover {
    color: hotpink;
}

/* selected link */

a.repo-link :active {
    color: blue;
}